html{
    background-color: rgb(215, 244, 253);
}


@keyframes animado {
    0% {
        transform: translateY(0); /* Define a posição inicial da imagem */
    }
    50% {
        transform: translateY(-10px); /* Define a posição flutuante para cima */
    }
    100% {
        transform: translateY(0); /* Retorna a imagem à posição inicial */
    }
}

@keyframes tremido {
    0% {
        transform: rotate(-3deg);
    }

    50% {
        transform: rotate(3deg);
    }

    100% {
        transform: rotate(-3deg);
    }
    
}

@keyframes rodar {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(180deg);
    }

}

menu li {
    animation: tremido 2s ease-in-out infinite;
}

menu li a {
    color: black;
    transition: color 0.3s ease;
}

menu li a:hover {
    color: white;
}

section#sobremim .animado {
    animation: animado 3.3s ease-in-out infinite; /* Aplica a animação à imagem */
}

menu{
    justify-content: space-around;
    list-style: none;
    display: flex;
    background-color: rgba(99, 182, 255, 0.582);
    padding: 2px 10px;
    border-radius: 5px;
}

menu a{
    font-size: 25px;
    text-transform: uppercase;
    text-decoration: none;
    text-justify: unset;
    color: rgb(10, 10, 70);
    font-family: "Pixelify Sans", sans-serif;
}

h1{
    font-family: "Pixelify Sans", sans-serif;
    font-size: 50px;
    text-align: center;
    color: rgb(18, 187, 187);
}

h2{
    color: rgb(18, 187, 187);
    font-family: "Pixelify Sans", sans-serif;
    font-size: 33;
}

ul,li{
    list-style: none;
    padding: 2px;
    font-family: "Pixelify Sans", sans-serif;
}

section#sobremim{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


abbr{
    text-decoration: none;
}

p{
    font-family: "Pixelify Sans", sans-serif;
    font-size: 20px;
}

section#imagemcontato a{
    animation: rodar 2s;
}

